*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-size: 16px;
}
/* .logo {
    font-size: 25px;
    font-weight: bolder;
} */

.div-head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    /* background-color: #fff; */
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
    /* height: 13vh; */
    width: 100%;
    /* position: fixed; */
    z-index: 99999;
}

.hamburger {
    display: none;
    font-size: 24px;
    cursor: pointer;
}

.logo {
    font-size: 1rem;
    font-weight: 300;
    display: flex;
}
.logo h1{
    margin-top: 15px;
}
div .icon{
    font-size: 25px;
    font-weight: bolder;
}

.navbar {
    display: flex;
}

.navbar a {
    padding: 10px;
    margin: 0 10px;
    font-size: 1em;
    font-weight: 300;
    color: #333;
    text-decoration: none;
    transition: ease-in 0.2s;
}

.navbar a:hover {
    /* background: linear-gradient(90deg, #4CAF50, #d23988a7); */
    text-decoration: underline;
}

/* Hamburger menu */
.hamburger {
    display: none;
    font-size: 24px;
    cursor: pointer;
    margin-top: -2%;
}


.div-1{
    display: flex;
    flex-direction: row;
    background-color: hsl(256, 26%, 20%);
    height: 80vh;
}
.head{
    margin-top: 10%;
    max-width: 100%;
    margin-left: 10%;
    color: #fff;
}
.head h1{
    font-size: 3rem;
}
 .head a{
        font-size: 1.5rem;
        color: #fff;
    }

.intro{
    scale: 0.9;
    margin-left: 40%;
}
.svg-2 img{
    margin-top: -200px;
}

.different{
    font-size: 3rem;
    margin-bottom: 10%;
    text-align: left;
    padding-left: 10%;
}
.div{
    display: flex;
    /* min-height: 40vh; */
    width: 70%;
    margin: auto;
    gap: 30px;
}

.third-sec{
    display: flex;
    width: 70%;
    margin: auto;
    background-color: hsl(256, 26%, 20%);
    margin-bottom: 14%;
    margin-top: 10%;
    color: white;
}
.about{
    font-size: 3rem;
    margin-left: 20px;
    margin-top: 15%;
}
.how-1 h3{
    /* text-align: right; */
    margin-left: 25%;
    padding-top: 30%;
    z-index: 9000;
}
.how-1 img{
    /* margin-left: 38%; */
    margin-top: -25%;
}
.mid-svg img{
    display: none;
}

.ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: black;
    font-family: Arial, sans-serif;
    padding: 10px;
    width: 100%;
}
.ul li {
    margin: 10px;
}

.nav-bar li a {
    list-style-type: none;
    text-decoration: none;
}
.social{
    display: flex;
}

    .things{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
} 
 .insure hr{
    position: relative;
    top: 30%;
    color: blue;
} 


@media screen and (max-width:1024px) {
       .navbar {
          display: none;
          position: absolute;
          top: 9%;
          left: 0;
          width: 70%;
          height: 100vh;
          background-color: hsl(256, 26%, 20%);
          box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
          transition: ease-in 2s;
          z-index: 99999;
      }

      .navbar a {
          display: block;
          padding: 30px;
          margin: 0;
          font-size: 18px;
          font-weight: 500;
          color: #fff;
          text-decoration: none;
          transition: color 0.2s;
          text-align: center;
      }

      .navbar a:hover {
          color: #ced4c44f;
      }

      .hamburger {
          display: block;
          position: absolute;
          top: 28px;
          right: 20px;
          font-size: 24px;
          cursor: pointer;
      } 
    .div-1{
        flex-direction: column-reverse;
        height: 100%;
        margin-bottom: 0%;
    }
    .svg-1{
        display: none;
    }
    .head{
        margin: auto;
        height: 70vh;
        text-align: center;
        width: 100%;
        margin-bottom: 0%;
    }
    .head,  p, h1{
        margin-top: 5%;
    }
    .head p{
        font-size: 1.5rem;
    }
    .head a{
        font-size: 1.5rem;
        color: #fff;
    }
    .intro{
        scale: 1;
        width: 100%;
        margin-left: 0%;
    }
    .find{
    margin-top: -25%;
    }
    .different{
        font-size: 2rem;
        text-align: center;
        padding-left: 0%;
    }
    .div{
        flex-direction: column;
        text-align: center;
        gap: 50px;
    }
    .third-sec{
        width: 50%;
        flex-direction: column;
        text-align: center;
        margin: auto;
        margin-top: 20%;
        color: #fff;
    }
    .about{
        text-align: center;
        margin-left: 0%;
        /* margin-top: -5%; */
    }

    .how-1 h3{
        margin-left: 0%;
        margin-top: -10%;
        text-align: center;
    }

    .mid-svg{
        scale: 0.9;
        margin-left: -39px;
    }

     .things{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 3rem;
    }
    footer{
        margin-top: 10rem;
        background-color: #ced4c44f;
    }
 
}

@media screen and (max-width:600px) {
   
}
@media screen and (max-width:768px) {
    .head{
        height: 80vh;
    }
    .head p{
        font-size: 1.3rem;
    }
    .third-sec{
        width: 100%;
    }
    .how-1 img{
        width: 100%;
    }
}